.template-selection {
  text-align: center;
  padding: 20px;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(128, 128, 128, 0.411);
}

.templates {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.templates div {
  margin: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.templates div:hover {
  transform: scale(1.1);
}

.templates img {
  width: 250px;
  height: 280px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.templates p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
